body{
    background-color: #0f0f0f;
	font-family:candara;
	color:white
}

button{
    padding:5px;
    color:blue;
    background-color:#00f0ff;
}

h1{
    font-family: 'Chau Philomene One', sans-serif;
    /* */
    color:pink
}

p{
    color: orangered;
    font-family: 'Acme', sans-serif;
    font-size:x-large;
}

input[type="number"]{
	margin-bottom:10px;
}
#container{
    width:350px;
    margin:100px auto;
}
