body{
    background-color: #0f0f0f;
    margin-top:15%;
    margin-left:20%; 
}

button{
    padding:5px;
    color:blue;
    background-color:#00f0ff;
}

h1{
    font-family: 'Chau Philomene One', sans-serif;
    /* */

    color:pink
}

p{
    color: orangered;
    font-family: 'Acme', sans-serif;
    font-size:x-large;
}